body {
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-weight: 320;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

.form-check-input:checked {
    background-color: #6c757d;
    border-color: white;
}